# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. Julia
4. R
5. C++

**Objectives:**
List popular languages for Data Science
* Java
* Python
* Julia
* C++
* R

Some of the commonly used libraries used by Data Scientists include

1. TensroFlow
2. NumPy
3. Scipy
4. Scikit-Learn
5. Scrapy

| Data Science Tools |
|--------------------|
| Apache Spark |
| Jupyter Notebook |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335

## Author

Marcio Silva